<nav class="site-footer navbar navbar-expand-sm mt-auto">
<div class="container">
  <ul class="navbar-nav">
    {{ range .Site.Params.links.user }}
    <li class="nav-item" title="{{ .name }}" aria-label="{{ .name }}">
      <a class="nav-link" target="_blank" rel="noopener noreferrer" href="{{ .url }}">
        <img src="{{ .icon }}" width="20" height="20"></img>
      </a>
    </li>
    {{ end }}
	</ul>
	<ul class="mx-auto pt-3">
      <p>&copy; 2023 <a class="navbar-text text-white" href="https://www.nwtime.org">Network Time Foundation</a></p>	
  </ul>
  </div>
</nav>