{{ define "main" }}
<body style="--bs-body-text-align: center;">
  <section class="min-vh-100 mt-auto">
<div class="card">
  <div class="card-body">
    <h4 class="card-title" style="color: #1a79c0;  margin-top: 1rem; text-align: center;"><a href="/donate/">Your Donations Help Support SyncE -- Donate Today!</a></h4>
	<img src="https://www.nwtime.org/images/support.jpg" class="figure-img img-fluid">
  </div>
</div>
</div>
   <h4>{{ .Title }}</h4>
	<div class="container" style="--bs-body-text-align: start;">
    <p>{{.Content}}</p>
	</div>
	<hr class="mt-5">
</body>
{{ end }}