{{ define "main" }}
<body style="--bs-body-text-align: center;">
  <section class="min-vh-100 mt-auto">
 <div class="card">
  <div class="card-body">
    <h5 class="card-title" style="color: #1a79c0;  margin-top: 1rem; text-align: center;"><a href="https://www.nwtime.org/ssd-appeal/">You Can Help Us Reach Our 2023 SSD Upgrade Goal!</a></h5>
  </div>
</div>
   <h4>{{ .Title }}</h4>
	<div class="container" style="--bs-body-text-align: start;">
    <p>{{.Content}}</p>
	</div>
	<hr class="mt-5">
</body>
{{ end }}