{{ define "main" }}
<body style="--bs-body-text-align: center;">
  <section class="min-vh-100 mt-auto">
 <div class="card">
  <div class="card-body">
    <h4 class="card-title" style="color: #1a79c0;  margin-top: 1rem; text-align: center;"><a href="https://www.nwtime.org/mills-spring/">Help Us Continue the Legacy of Father Time by Donating to the Mills-Spring Fund</a></h4>
	  <img src="https://www.nwtime.org/images/thermometer.png" class="figure-img img-fluid">
  </div>
</div>
   <h4>{{ .Title }}</h4>
	<div class="container" style="--bs-body-text-align: start;">
    <p>{{.Content}}</p>
	</div>
	<hr class="mt-5">
</body>
{{ end }}